

<div class="event-list-item panel panel-default">
  <div class="panel-body">
    <div class="date col-xs-2 col-sm-2">
      <% curr_date = event.start_date_local %>
      <i class="day"><%= curr_date.day %></i><br/>
      <i class="month"><%= month_name(curr_date) %></i><br/>
      <i class="time-span"><%= display_start_and_end_date(curr_date, event.end_date_local, true) %></i>  
    </div>
    <div class="info col-xs-8 col-sm-7">
      <div class="title">
        <%= link_to event.title, event_path(event) %>
      </div>
      <% if address = event.event_venue %>
        <hr/>
        <div class="event-venue">
          <span class="name"><%= address.name %></span><br/>
          <span class="location"><%= address.location %></span>
        </div>
      <% end %>
    </div>

    <div class="hosted-by col-xs-2 col-sm-3">
      <div class="host-title">
        Hosted By:

      </div>
  
      <%= render 'shared/avatar', size: :small, user: event.user %>
      <div class="profile-name hidden-xs">
        <div class="user-name">
          <%= event.user.name %>
        </div>
      </div>

      <div class="options center">
        <%= render partial: "manage_event_widget", 
              locals: { event: event } %>
      </div>
    </div>
   
  </div>
</div>