<% curr_user = current_user %>

<%= f.text_field :title %>

<div class="row">
  <div class="col-xs-4">
    <%= f.text_field :url_identifier %>
  </div>
  <div class="col-xs-8">
    <span class="glyphicon glyphicon-question-sign input-question-mark popover-input", data-toggle="popover", data-content="String to be appended to end of url so it does not conflict with previous events with the same name"></span>
  </div>
</div>

<%= f.select :display_privacy, Event.display_privacy_options, { label: "Privacy Type:" }, { class: "selectpicker auto-width" } %>

<%= f.check_box :display_listing %>

<hr/>
<div id="excluded-members-fields">
  <%= f.fields_for :excluded_remote_members do |excluded_members_form| %>
    <%= render 'excluded_remote_member_fields', f: excluded_members_form %>
  <% end %>
  <%= link_to_add_fields "Add Another Exclude Guest Member", f, :excluded_remote_members, { nested_association: :remote_member ,
                               id: 'add-excluded-member-field-link'} %>

  <% current_excluded_remote_member_ids = f.object.excluded_remote_members.map { |mem| mem.remote_member.remote_member_id } %>

  <% saved_excluded_members = curr_user.excluded_remote_member_list(current_excluded_remote_member_ids) %>
  <h4>Saved Excluded Members</h4>
  <% has_saved_excluded_members = false %>
  <% if saved_excluded_members && saved_excluded_members.size() > 0 %>
    <% has_saved_excluded_members = true %>
    <div id="excluded-member-chooser">
      <div id="excluded-member-chooser-list" class="clearfix">
        <ul>
          <% saved_excluded_members.each do |mem| %>
            <li class="excluded-member-chooser-item">
              <img src="<%= mem.thumb_photo_src %>"><br/>
              <%= mem.name %><br/>
              <button class="item-add" data-member-id="<%= mem.remote_member_id %>">Add <%= mem.remote_member_id %></button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
 
  <div id="no-saved-excluded-members" <%= has_saved_excluded_members ? "class='hide_div'".html_safe : "" %>>
     No Saved Excluded Members to show. <%= link_to "Add more saved items", edit_saved_excluded_members_path %>
  </div>

</div>

<hr class="clear-float"/>

<%= f.fields_for :remote_event_api do |event_api_form| %>
  <%= event_api_form.hidden_field :last_rank %>
   <%= event_api_form.hidden_field :remote_source %>
  <%= event_api_form.text_field :api_key %>

  <% if @api_keys %>
    <div class="form-group radio_button_list">
      <label class="control-label">Use Api Key:</label><br/>
      <%  @api_keys.each do |user_key| %>
        <%= radio_button_tag :api_key_option, user_key[:provider], false, { 'data-api_token' => user_key[:key] } %>
        <%= label_tag(:api_key_option, " #{user_key[:provider]}  : #{user_key[:key] }") %><br/>
      <% end %>
      <%= radio_button_tag(:api_key_option, "clear") %>
      <%= label_tag(:api_key_option, "Clear") %>
    </div>
  <% end %>

  <%= event_api_form.check_box :remember_api_key %>

  <hr/>
  <h3>Linked Meetup Events: </h3>

  <div id="remote-event-fields">
    <%= event_api_form.fields_for :remote_event_api_sources do |source_builder| %>
      <% curr_rank = source_builder.object.try("rank") || 0 %>
      <%= render 'remote_event_api_source_fields', f: source_builder, curr_rank: curr_rank %>
    <% end %>
 
    <%= link_to_add_fields "Add Another Event", event_api_form, :remote_event_api_sources, { last_rank_input: "input[name$='[rank]']", id: "add-event-field-link",
                                new_rank_marker: RemoteEventApiSource::NEW_RANK_MARKER } %>
  </div>                              
  <br/>
<% end %>
<% if curr_user %>
  <h3>My events: <a href="javascript:void(0)" id="my-events-toggle-link"><span id="my-events-toggle-icon" class="glyphicon glyphicon-minus-sign"></span></a></h3>
<% end %>
<div id="myEventChooser">
<% if curr_user %>
  Current User = <%= curr_user.name %><br/>
  <% if auth = curr_user.authentications.by_provider('meetup').first %>
    Current User authentication.uid = <%= auth.uid %><br/>
    Current User authentication.token = <%= auth.token %><br/>
    <% if auth.expires %>
      Current User athentication.expires_at = <%= word_date_time(auth.expires_at) %><br/>
      Current User authentication.refresh_token = <%= auth.refresh_token %><br/>
    <% end %>
  <% end %>
<% end %>
</div>

<script type='text/javascript'>
  <% if @access_token && @auth %>
    var loadArgs = {
      accessKey : '<%= @access_token %>',
      memberId  : '<%= @auth.uid %>'
    };
    <% remote_api = event.remote_event_api
      eventIdList = nil
      if remote_api
        eventIdList = remote_api.event_id_list.to_json()
      end
      if eventIdList %>
        loadArgs['eventIdList'] = '<%= eventIdList.html_safe() %>';
        console.log("eventIdList = " + loadArgs['eventIdList']);
      <% end %>
  <% end %>
   $(document).ready( function() {
     $(".popover-input").popover();
      if (typeof loadArgs !== 'undefined') {
        $('#myEventChooser').loadUserEventChooser(loadArgs);
      }
      $("input[name='event[remote_event_api_attributes][api_key]']").updateFromRadioButton("input[name='api_key_option']") 
    });

  </script>