 
<h1>Events</h1>

<% if can? :create, Event %>
  <div class="center block">
    <%= link_to new_event_path, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-plus"></span> New Event
    <% end %>
  </div>
<% end %>

    <ul class="nav nav-tabs">

        <li <%= add_active_if_current(action: 'index') %>><%= link_to("Upcoming", events_path) %></li>

        <li <%= add_active_if_current(action: 'index_tab', tab: 'past') %>><%= link_to("Past", events_tab_path(tab: "past")) %></li>
        <li <%= add_active_if_current(action: 'index_tab', tab: 'calendar') %>><%= link_to("Calendar", events_tab_path(tab: "calendar")) %></li>
        

    </ul>

<% if @events.size <= 0 %>
 <div class="alert alert-info">There are no events to display!</div>
<% else %>
  <% @events.each do |event| %>
    <%= render partial: "event_list_item", locals: { event: event } %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Num Linked Events</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.user.name %></td>
    <td><%=h event.title %></td>
    <td><%=h event.description %></td>
    <td><%=h event.num_linked_events %></td>
    <td><%=h american_date_time(event.start_date) %></td>
    <td><%=h american_date_time(event.end_date) %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :method => :delete, data: { confirm: 'Are you sure you want to delete this event?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
