 
<h1>Events</h1>

<% if can? :create, Event %>
  <div class="center block">
    <%= link_to new_event_type_path(type: "RemoteEvent"), class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-plus"></span> New Event
    <% end %>
  </div>
<% end %>

    <ul class="nav nav-tabs">

        <li <%= add_active_if_current(action: 'index') %>><%= link_to("Upcoming", events_path) %></li>

        <li <%= add_active_if_current(action: 'index_tab', tab: 'past') %>><%= link_to("Past", events_tab_path(tab: "past")) %></li>
        <li <%= add_active_if_current(action: 'index_tab', tab: 'calendar') %>><%= link_to("Calendar", events_tab_path(tab: "calendar")) %></li>
        

    </ul>

    <% if @event_view.is_calendar? %>
      <%= render partial: "#{@event_view.view}", locals: { events_by_date: @events_by_date, date: @date } %>
    <% else %>

      <% if @events.size <= 0 %>
       <div class="alert alert-info">There are no events to display!</div>
      <% else %>
        <% @events.each do |event| %>
          <%= render partial: "event_list_item", locals: { event: event } %>
        <% end %>
      <% end %>

   <% end %>

<br />

