    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <h1 id="pageTitle"></h1>
        <h2 id="errorMessage"></h2>
         <hr/>
        <% if can? :manage, @event %>

          <div class="btn-group" role="group" aria-label="admin links">

            <%= link_to edit_event_path(@event), class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>

            <%= link_to @event, :method => :delete, class: "btn btn-default", data: { confirm: 'Are you sure you want to delete this event?' } do %>
              <span class="glyphicon glyphicon-remove"></span> Delete
            <% end %>
        
            <%= link_to show_event_rsvp_print_path(@event), class: "btn btn-default", target: "_blank" do %>
              <span class="glyphicon glyphicon-print"></span> Print Rsvps
            <% end %>

          </div>
          <hr/>
        <% end %>
        <div id="multigroupEvent">
          <div id="eventList">
            <p>Event List</p>
          </div>
          <div id="primaryEvent">
            <p>Event Description:</p>
          </div>
          <div id="RsvpIntro">
            <hr/>
            <h3>Current RSVPS sorted by: 
              <select id="sort_by">
                <option value="last_rsvp" selected>Last Rsvp</option>
                <option value="first_rsvp">First Rsvp</option>
                <option value="name">Name</option>
              </select>
 
              <a href="javascript:void(0)" id="refresh-rsvp-list">
                <span id="refresh-icon" class="glyphicon glyphicon-refresh"></span>
              </a>
            </h3>
          </div>
          <div id="yesRsvps">
          </div>
          <div id="noRsvps">
          </div>
        </div>
      </div>
    </div>
 <script>
      var sortTypes = { NAME: 'name', 
                         LAST_RSVP: 'last_rsvp', 
                         FIRST_RSVP: 'first_rsvp'
                       };
      var defaultSortType = sortTypes['LAST_RSVP'];
      var loadArgs = {
   //       eventIdList: ['206685992', '218131942','206685292'],
//        meetupKey: '5e7e4f791557b5f3843303f103d4',      
        pageTitle: '<%= @event.title %>',
        displayPrimaryEvent  : true,
        displayPrimaryEventTitle : false,
        displayEventList     : true,
        displayYesRsvps      : true,
        displayNoRsvps       : true,
        defaultShowYesRsvps  : true,
        defaultShowNoRsvps   : false,
        fetchAllEventsAtOnce : true,
        useGeneralErrorMessage : false,
        sortYesRsvpsBy       : defaultSortType,
        sortNoRsvpsBy        : defaultSortType,
        primaryEventDisplayTag: '#primaryEvent',
        eventListDisplayTag: '#eventList',
        rsvpCountDisplayTag: '#rsvpCount',
        yesRsvpDisplayTag: '#yesRsvps',
        noRsvpDisplayTag:  '#noRsvps',
        allEventsApiUrl: '<%= @event.remote_event_api.all_events_api_url.html_safe %>',
        allRsvpsApiUrl: '<%= @event.remote_event_api.all_rsvps_api_url.html_safe %>'       
      };
    $(document).ready( function() {
      $('#multigroupEvent').loadEventData(loadArgs);
    });

    function reloadRsvps(sortType) {
      loadArgs[sortYesRsvpsBy] = sortType;
      $('#multigroupEvent').loadEventData(loadArgs);
    }

  </script>