<% provide(:title, "Change Roles") %>
<h1>Change Roles</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for @user, :url => user_roles_path(@user) do |f| %>
      <%= render 'shared/error_messages', target: @user %>
      <% for role in Role.global %>
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), {:name => "user[role_ids][]"}%>
        <%= label_tag "user_roles_#{role.name}", role.name.to_s.humanize %><br />
      <% end %>
      <%= hidden_field_tag "user[role_ids][]", "" %>
      <%= f.submit "Update Roles", class: "btn btn-lg btn-primary" %></div>
    <% end %>
  </div>
</div>